

.col-3 {
  width: 33%;
}
body {
	line-height: 1;
	font-size: 16px;
	color: #f3eded;
	margin: 0px;
	padding: 0px;
	min-height: 100%;
	background-color: #111;
}
h1, h2, h3 {
  font-family: 'Oswald', sans-serif;
  font-size: 2em;
}
body.home {
	background: url('../img/homepage-background.jpg');
	background-size: cover;
	background-attachment: fixed;
	background-position: top center;
  background-color: #111;
}
p {
	font-size: 1.5em;
	line-height: 1.5em;	
  margin-bottom: 1.5em;
  font-family: 'Oswald', sans-serif;
}
ol, ul {
  list-style: none;
}
.row, .column, .col {
	box-sizing: border-box;
}
.row {
	width: 100%;	
}
.row:before, .row:after {
	clear: both;
	float: none;
	content: '';
	display: block;
}
.column {
	width: 100%;
	max-width: 980px;
	margin: 0 auto;
}
.col {
	float: left;
	margin: 0 auto;
}
.col-1 {
	width: 100%;
	max-width: 980px;
}
.col-2 {
	width: 50%;
	max-width: 490px;
}
.col-3 {
	width: 33.33333333333%;
	max-width: 326px;
}
.col-2-3 {
	width: 66.66666666667%;
	max-width: 652px;
}
.col-3-4 {
	width: 75%;
	max-width: 735px;
}
.pad-20 {
	padding: 20px;	
}
.pad-30 {
	padding: 30px;	
}
img {
  width: 100px;
  padding-left: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}