html, body, main {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	}
	.container {
	position: relative;
	width: 100%;
	height: 100%;
	background: url('background.jpg') no-repeat; 
	background-size: cover;
	background-position: center;
	}
	.container-sales {
		position: relative;
		width: 100%;
		height:100%;
		background: url('background.jpg') no-repeat; 
		background-size: cover;
		background-position: center;
		}
	.logo {
	position: relative;
	top: 100px;
	left: 120px;
	display: inline-block;
	max-width: 50%;
	}
	.logo h1 {
	font-size: 1em;
	font-family: 'Oswald', sans-serif;
	}
	.fish {
	width: 175px;
	padding-top: 15px;
	}
	.text {
	position: absolute;
	top: -81px;
	left: -15px;
	width: 200px;
	padding-top: 15px;
	}
	h2 {
		font-size: 1.5em;
		font-family: 'Oswald', sans-serif;
		color: white;
	}
	ul li {
		font-family: 'Oswald', sans-serif;
		color: white;
		padding-left: 10px;
		padding-bottom: 5px;
		list-style: none;
	}
	a img {
		position: relative;
		display: inline-block;
	}
	#myTable {
		display: table;
		font-family: 'Oswald', sans-serif;
		color: white;
		margin: 20px;
		padding: 20px;
		background: rgba(0,0,0,.5);
		position: relative;
		top: 300px;
		left: 120px;
		z-index: 1;
	}
	td {
		padding: 5px;
	}
	a {
		text-decoration: none;
		color: inherit;
	}
	row, .column, .col-1, .col-2, .col-3, .col-4 {
		box-sizing: border-box;
	}
	.row {
		width: 100%;
		display: table;
	}
	.row:before, .row:after {
		clear: both;
		float: none;
		content: '';
		display: block;
	}
	.col-1 {
		width: 100%;
		margin: 0 auto;
	}
	.col-2 {
		display: table-cell;
		width: 50%;
		vertical-align: middle;
		text-align: center;
	}
	.col-40 {
		display: table-cell;
		width: 40%;
		vertical-align: middle;
		text-align: center;
	}
	.col-60 {
		display: table-cell;
		width: 60%;
		vertical-align: middle;
		text-align: center;
	}
	.constrained {
		width: 100%;
		max-width: 1200px;
	}
	.top-margin {
		margin-top: 80px;
	}
	.top-margin-40 {
		margin-top: 40px;
	}
	.bottom-margin-40 {
		margin-bottom: 40px;
	}
	.centered {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
	.transparent-border-40 {
		border: 40px solid transparent;
	}
	.transparent-border-l-40 {
		border-left: 40px solid transparent;
	}
	.transparent-border-r-40 {
		border-right: 40px solid transparent;
	}
	.valign-top {
		vertical-align: top;
	}
	.fade-out {
		opacity: 0;
		transform: translateY(40px);
	}
	.fade-in {
		opacity: 1;
		transform: translateY(0px);
	}
	.fl {
		float: left;
	}
	.fr {
		float: right;
	}
	.clear {
		clear: both;
	}
	.spacer {
		height: 60px;
	}

	/* All of the CSS below belongs to the GSAP navigation  */
	#drawer {
		position: fixed;
		top: 0px;
		left: 0px;
		width: 74px;
		height: 100%;
		padding: 20px;	
		background: rgba(0,73,141,0.85);
		border-right: 1px solid rgb(253,253,254);
		box-sizing: border-box;
		transition: all 0.3s ease-out;
		transform-style: preserve-3d;
		z-index: 99;
	}
	#menu-control {
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
		left: 20px;
		width: 100%;
		height: 40px;
	}
	#menu {
		position: relative;
		margin-left: 12px;
		width: 14px;
		height: 40px;
	}
	#vert1, #vert2, #vert3 {
		position: relative;
		float: left;
		top: 0px;
		width: 1px;
		height: 40px;
		background: #fff;
		transition: top 0.2s;
	}
	#vert2 {
		margin-left: 5px;
	}
	#vert3 {
		margin-left: 5px;
	}
	#close {
		position: absolute;
		top: -4px;
		left: 38px;
		text-align: right;
		font-size: 24px;
		text-transform: uppercase;
		overflow: hidden;
		width: 0px;
		opacity: 0;
		transition: all 0.2s ease-out;
		font-family: "Oswald", sans-serif;
		font-size: 2em;
	}
	nav {
		display: inline-block;
		position: absolute;
		left: 196px;
		top: 60px;
		width: 50%;
		overflow: hidden;
		z-index: 100;
		}
	nav ul {
		position: relative;
		top: 7px;
		left: -5px;
		margin: 0;
		padding: 0;
		list-style: none;
	}
	nav ul li {
		margin-bottom: 40px;
		list-style: none;
		text-indent: -100%;
	}
	nav ul a {
		font-family: 'Oswald', sans-serif;
		font-weight: 700;
		font-size: 84px;
		color: rgb(253,253,254);
		text-transform: uppercase;
		transition: color 0.2s ease-out;
	}
	#treads {
		position: fixed;
		top: 0px;
		left: 196px;
		width: calc(100% - 196px);
		height: 100%;
		z-index: 99;
		left: -100% !important;
	}
	#treads span {
		display: block;
		float: left;
		width: 0px;
		opacity: 0;
		height: 100%;
		background: rgba(0,73,141,0.85);
		border-right: 1px solid #fff;
		box-sizing: border-box;
	}
	.nav-extra {
		position: relative;
		top: 520px;
		opacity: 0;
	}
	form {
		display: table;
		font-family: 'Oswald', sans-serif;
		color: white;
		margin: 20px;
		padding: 20px;
		background: rgba(0,0,0,.5);
		position: relative;
		top: 300px;
		left: 120px;
	}
	@media (hover:hover) {
		#menu-control:hover #vert2 {
			top: 4px;
		}
		
		#menu-control:hover #close {
			color: rgb(253,253,254);
		}
		nav ul a:hover {
			color: rgb(253,253,254);
		}
		nav ul a:hover #job-bubble {
			background: #fff;
			color: rgb(253,253,254);
		}
	}
	@media screen and (max-width:767px) {
		
	}